### Homework #2

1. Round 4.5667 to the nearest hundreth (2 decimals) using a build-in function, round().

In [ ]:
num = 4.566
print(round(num,2))

4.57

2. Convert "657" to an integer data type

In [ ]:
print(type(int('657')))
print(int('657'))

<class 'int'>
657

3. Write a program to get two numbers from a user. Then, create a 6-digit code that is a series of randomly generated numbers between the two numbers given by the user. Print the 6-digit code so all digits are separated by a dash.

In [ ]:
import random as rand

num1 = int(input("Please enter a number: "))
num2 = int(input("Please enter another number: "))

4. Write a program to remove ALL the white spaces from the following text:

        Hickory, dickory, dock,     
        The mouse ran up the clock.   
        The clock struck one,   
        The mouse ran down,                      
        Hickory, dickory, dock

In [16]:
txt = "Hickory, dickory, dock, \nThe mouse ran up the clock. \nThe clock struck one, \nThe mouse ran down, \nHickory, dickory, dock"
print(txt.strip())

Hickory, dickory, dock,
The mouse ran up the clock.
The clock struck one,
The mouse ran down,
Hickory, dickory, dock

5. Write a function to calculate the miles per gallon. Get a miles driven and gallons used from a user and call your function to calculate the miles per gallon.

6. Enhance the <b>compute()</b> function created during Module 2. Enhance the function to compute a circle's area and circumference where:

 - circle's area = 3.14 X (radius X radius)   
 - circle's circumference = 3.14 X diameter

7. Write a function called multiply_two() that accepts two parameters. The function should print a message like '15 * 2 = 30'.  Randomly generate two numbers between 1 and 100, then call the function with the two random numbers.

In [ ]:
import random as rand

num1 = rand.randint(1, 100)
num2 = rand.randint(1, 100)

def multiply_two(x, y):
  print(f"{x} * {y} = {x*y}")

multiply_two(num1, num2)

2 * 58 = 116

8. Create a function for a multiplication table.  Get a number from a user and then call you function which produces a multiplication table for that number.
The output should look something like this:

        Enter a number: 3
        3 X 1 = 3
        3 X 2 = 6
        3 X 3 = 9
        3 X 4 = 12
        3 X 5 = 15
        3 X 6 = 18
        3 X 7 = 21
        3 X 8 = 24
        3 X 9 = 27

In [ ]:
def multi_table(x):
  print(f"{x} x 1 = {x * 1}")
  print(f"{x} x 2 = {x * 2}")
  print(f"{x} x 3 = {x * 3}")
  print(f"{x} x 4 = {x * 4}")
  print(f"{x} x 5 = {x * 5}")
  print(f"{x} x 6 = {x * 6}")
  print(f"{x} x 7 = {x * 7}")
  print(f"{x} x 8 = {x * 8}")
  print(f"{x} x 9 = {x * 9}")

num = int(input("Enter a Number: "))
multi_table(num)

Enter a Number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45