1. Print out your favorite color and write comment about what you are doing above the code.

In [5]:
# assigned the variable name 'favColor' and listed my favorite color as data 
favColor = 'red'
print(favColor)

red

2. Print the sumation of numbers 1 through 10

In [14]:
print(1+2+3+4+5+6+7+8+9+10)

55

3. Print what 2 to the 8th power is.

In [13]:
print(2^8)

10

4. Print the remainder of 100 divided by 11.

In [12]:
print(100//11)

9

5. What is the result of adding strings: 20, 8, 77?

In [11]:
print(20+8+77)

105

6. Print out 100 divided by 5

In [10]:
print(100%5)

0

7. What is the difference (subtraction) between 10/4 and 10//4?  Print out the result

In [6]:
print(10/4)
print(10//4)
print(10/4 - 10//4)

2.5
2
0.5

8. Create a variable called height and store your height value there.
Print a sentence describing your height and use the variable in the sentence as well.

In [17]:
myHeight= "6'2"
print('I am ' + myHeight)

I am 6'2

9. Print the same information as exercise 8 using a formatted string.

In [18]:
print(f"I am {myHeight}")

I am 6'2

10. Use two different (single and double) quotes in a string to print out a sentence

In [22]:
print("this is what a single quote ''")
print('this is what a double quote looks like ""')

this is what a single quote ''
this is what a double quote looks like ""

11. Print out Hello World! 7 times each on a new line using only one line of code.

In [23]:
print("Hello World! " * 10)

Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World!

12. Write a code to get two integers from a user. Then print out their summation, subtraction, multiplication, and division.

13. You and your collegue have been tasked to write a code to get 5 numbers from a user and then print out their summation and average in a formatted string.  Your partner wrote codes below.  Now it is up to you to fix all errors.

In [1]:
prompt = f"Enter a number: "

numb1 = input("Enter a number: ")
numb2 = input("Enter a number: ")
numb3 = input("Enter a number: ")
numb4 = input("Enter a number: ")
numb5 = input("Enter a number: "))

total = numb1 + numb2 + numb3 + numb4 + numb5
avg = total // 5

print("{numb1} + {numb2} + {numb3} + {numb4} + {numb5} = {total}")
print("average is {total}')

SyntaxError: ignored

14. You and your partner have been assigned to a project to write a program to calculate the amount of runoff rain on a roof from any given rainfall.  

You and your partner have figured out that to calculate the runoff from any given rainfall. 

You need to take the dimensions of the footprint of the roof and <b>convert them to inches</b> (ex - a 50' x 20' roof is 600" x 240"). The dimensions should be user submitted. 

Then, multiply the roof dimensions by the number of inches of rainfall. As an example, 600" x 240" x 1" = 144,000 cubic inches of water for an inch of rainfall. Finally, divide that result by 231 to get the number of gallons (because 1 gallon = 231 cubic inches; 144,000/231 = 623.38).

Your partner started coding before getting sick and it is up to you to finish the program.

In [ ]:
print("\nRainfall Calculation ***\n")

width = int("What's roof's width in foot? ")
length = int("What's roof's length in foot? ")
rain = int("How much did it rain? ")


area = width x length x rain

15. A program is required to get a customer’s name, a purchase amount and a discount rate (in %). The program must compute the discount amount, sales tax (6%) and the total amount due. Using one print statement, print the customer’s name, purchase amount, discount amount, sales tax and total amount due in friendly format.